<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit User</title>
</head>
<body>
<div >
    <h1>Edit User</h1>
    <hr>
    <h2>Edit User</h2>

    <form action="#" th:action="@{/user-update}" th:object="${user}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" placeholder="User Name">
        <input type="text" th:field="*{lastname}" placeholder="User Last Name">
        <input type="text" th:field="*{age}" placeholder="User Age">
        <input type="text" th:field="*{email}" placeholder="User E-mail">
        <input type="text" th:field="*{alias}" placeholder="User Alias">
        <label for="ban"> Is banned?</label>
        <input type="checkbox" th:field="*{banned}" placeholder="Is User Banned?" id="ban">

        <button type="submit"> Update User</button>
    </form>

    <hr>

    <a href="/users"> Back to Users List</a>
</div>
</body>
</html>